.layout {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}
.layout .view {
  display: flex;
  align-items: flex-start;
}
.layout .tab-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #e5e5e5;
  margin-right: 20px;
  border-radius: 5px;
}
.layout .link-item {
  display: flex;
  width: 100%;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}
.layout .link-item:hover {
  background-color: #eee;
}
.layout .link-item:last-child {
  border: none;
}
.layout .current-link-item {
  background-color: #eee;
  color: #fff;
}

.layout .route-view {
  
}